<%- include('imports') %>
<div class="container">
    <h1>Cadastro de Novo usuário</h1>
      <form method="POST">
            <div class="form-group row">
                    <label for="inputname" class="col-sm-2 col-form-label">Nome* </label>
                    <div class="col-sm-6">
                        <input type="name" class="form-control" id="inputname" name="name">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputempresa" class="col-sm-2 col-form-label">Empresa * </label>
                    <div class="col-sm-6">
                        <input type="name" class="form-control" id="imputempresa" name="empresa">
                    </div>
                </div>

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email * </label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" id="inputEmail3" name="email">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Senha *</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            </div>
            
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Status *</label>
                <div class="col-sm-10">
                <select name="status" id="">
                  <option value="ativo">Ativo</option>
                </select>
              </div>                      
              </div>

              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Tipo *</label>
                <div class="col-sm-10">
                <select name="type" id="">
                    <option value="Super Administrador">Super Administrador</option>
                  <option value="Administrador">Administrador</option>
                  <option value="Normal">Normal</option>
                </select>
              </div>                      
              </div>


            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Cadastrar Usuário</button>
                </div>
            </div>
        </form>
</div> 