
<div class="container">
        <div class="card text-center">
                <div class="card-header">
                  Pedro Alisson
                </div>
                <div class="card-body">
                  <h5 class="card-title">Siga-me nas Redes Sociais</h5>
                  <a class="btn btn-primary btn-lg" href="" role="button"><i class="fab fa-facebook"> facebook</i></a>
                  <a class="btn btn-success btn-lg" href="https://www.instagram.com/pedim4lisson/?hl=pt-br" role="button"><i class="fab fa-instagram"> Instagram</i></a>
                  <a class="btn btn-primary btn-lg" href="https://twitter.com/PedroAl12466231" role="button"><i class="fab fa-twitter"> Twitter</i></a>
                  <a class="btn btn-success btn-lg" href="https://www.linkedin.com/in/pedro-%C3%A0lisson-09aba4179/" role="button"><i class="fab fa-linkedin"> Linkedin</i></a>
                </div>
                <div class="card-footer text-muted">
                  Todos os direitos reservados para Pedro Alisson
                </div>
          </div>
</div>