<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controll Called</title>
</head>
<body>
    <%- include('imports') %>
    <%- include('header') %>    
<main>
    <div class="container">
        <section id="parceiros">
            <article class="parceiros">
                <header>
                    <h1>Parceiros</h1>
                </header>
                <figure>
                    <img src="/images/fcn.jpeg" alt="FCN CONTABILIDADE">
                </figure>
            </article>
        </section>
    </div>
</main>
<%- include('footer') %>
</body>
</html>