<%- include('imports') %>
<h1>Dashboar Usuário</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Chamados
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/user/called/new">Abrir chamado</a>
              <a class="dropdown-item" href="/user/called/">Visualizar todos os chamados</a>
              <a class="dropdown-item" href="/user/query">Pesquisar chamado</a>
            </div>
          </li>
      </ul>
    </div>
  </nav>