
<%- include('imports') %>

<div class="container">
<form method="POST">
      <div class="form-group">
        <div class="col-sm-2">
            <label for="NumeroChamado">Número do chamado</label>
        </div>
        <div class="col-sm-6">
            <input type="number" class="form-control" id="NumeroChamado1" aria-describedby="numberHelp" name="number">
        </div>
        <div class="col-sm-4"></div>
      </div>

      <div class="col-sm-2"></div>
      <div class="col-sm-6">
          <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
      <div class="col-sm-4"></div>
</form>
</div>